
body {
	background-color: darkorange;
}

footer {
	margin-top: 50px;
	background-color:black;
	padding-top:20px;
	padding-bottom: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
	font-family: Arial;
	margin-bottom:0;
}

.label {
	margin-right: 20px;
	margin-bottom: 5px;
	display:block;
}

.container {
	display: inline-block;
}

.picture-container {
	display:inline-block;
	width: 250px;
}

.pizza {
	width:100%;
}